<body class="hold-transition layout-top-nav">
  <div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
      <div class="container">
        <a href="javascript:void(0)" class="navbar-brand mr-auto">
          <img src="./assets/images/coronavirus.png" alt="coronavirus" class="brand-image img-circle elevation-1 mr-2">
          <span class="brand-text font-weight-light">รายงานสถานการณ์ COVID-19</span>
        </a>
        <code class="text-muted">อัปเดท ณ {{UpdateDate}}</code>
        <!-- <a class="nav-link text-success" href="#" title="refresh">
          <i class="fa fa-refresh"></i>
        </a> -->
      </div>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <div class="content">
        <div class="container">

          <div class="row pb-3 pt-3">
            <div class="col-md-3">
              <div class="card-counter pink">
                <i class="fa fa-disease"></i>
                <span class="count-numbers">{{Confirmed | number}}</span>

                <span class="count-name">ติดเชื้อสะสม ( +{{NewConfirmed | number}} )</span>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card-counter danger">
                <i class="fa fa-book-dead"></i>
                <span class="count-numbers">{{Deaths | number}}</span>
                <span class="count-name">เสียชีวิต ( +{{NewDeaths | number}} )</span>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card-counter success">
                <i class="fa fa-smile"></i>
                <span class="count-numbers">{{Recovered | number}}</span>
                <span class="count-name">หายแล้ว ( +{{NewRecovered | number}} )</span>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card-counter info">
                <i class="fa fa-procedures"></i>
                <span class="count-numbers">{{Hospitalized | number}}</span>
                <span class="count-name">รักษาอยู่ใน รพ.
                  ( {{NewHospitalized | number}} )</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <div class="position-relative">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                      [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                    </canvas>

                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-4">
              <div class="card">

                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="chart-responsive" style="height: 228px">
                        <canvas style="height: 228px" baseChart [datasets]="doughnutChartData"
                          [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                          [options]="doughnutChartOption">
                        </canvas>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="card-footer bg-white p-0">
                  <ul class="nav nav-pills flex-column">

                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        ชาย
                        <span class="float-right text-muted">
                          {{Male | number}} ราย
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        หญิง
                        <span class="float-right text-muted">
                          {{Female | number}} ราย
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        ไม่ทราบ
                        <span class="float-right text-muted">
                          {{Unknown | number}} ราย
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header border-0">
                  <h3 class="card-title">
                    <i class="fas fa-map-marker-alt mr-1"></i>
                    แผนที่แสดงจำนวน
                  </h3>
                </div>
                <div class="card-body p-1">
                  <div id="map" style="width: 100%; height: 585px;"></div>
                  <div class="text-center">
                    <span class="badge text-white" style="background-color: #870a30;">มากว่า 100 ราย</span>
                    <span class="ml-2 badge text-white" style="background-color: #ff2121;">50 รายขึ้นไป</span>
                    <span class="ml-2 badge text-white" style="background-color: #ff4141cb;">10 รายขึ้นไป</span>
                    <span class="ml-2 badge text-white" style="background-color: #ff8746;">5 รายขึ้นไป</span>
                    <span class="ml-2 badge text-white" style="background-color: #fdb64a;">1 รายขึ้นไป</span>
                    <span class="ml-2 badge text-white" style="background-color: #28a745;">ไม่พบผู้ติดเชื้อ</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-12">

                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        สถิติภายในประเทศไทย
                      </h3>
                      <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                          <li class="nav-item">
                            <a class="nav-link active" href="#tabProvinceChart" data-toggle="tab">20 อันดับ</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#tabProvince" data-toggle="tab">ภาพรวม</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#tabNation" data-toggle="tab">แยกตามสัญชาติ</a>
                          </li>
                        </ul>
                      </div>
                    </div><!-- /.card-header -->
                    <div class="card-body p-0">
                      <div class="tab-content p-0">
                        <!-- Morris chart - Sales -->
                        <div class="tab-pane active p-2" id="tabProvinceChart" style="height: 605px;">
                          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                          </canvas>
                        </div>
                        <div class="tab-pane p-0" id="tabNation">

                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>สัญชาติ</th>
                                <th class="text-right">ติดเชื้อสะสม</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="let item of nations | paginate: { itemsPerPage: 10, currentPage: pageN, id: 'pNation' }">
                                <td>{{item.name}}</td>
                                <td class="align-middle text-right">
                                  <span class="font-weight-bold">{{item.total | number}}</span>
                                </td>
                              </tr>

                            </tbody>

                          </table>

                          <div class="text-center">
                            <pagination-controls id="pNation" previousLabel="กลับ" nextLabel="ถัดไป"
                              (pageChange)="pageN = $event">
                            </pagination-controls>
                          </div>
                        </div>
                        <div class="tab-pane p-0" id="tabProvince">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>จังหวัด</th>
                                <th class="text-right">ติดเชื้อสะสม</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="let item of provinces | paginate: { itemsPerPage: 10, currentPage: page, id: 'pProvince' }; let idx = index ">
                                <td>{{item.name}}</td>
                                <td class="align-middle text-right">
                                  <span class="font-weight-bold">{{item.total | number}}</span>
                                  <i (click)="openInfo({thname: item.name})" class="fa fa-users text-info ml-2"
                                    style="cursor: pointer;" title="ดูข้อมูล"></i>
                                </td>
                              </tr>

                            </tbody>

                          </table>

                          <pagination-controls id="pProvince" previousLabel="กลับ" nextLabel="ถัดไป"
                            (pageChange)="page = $event">
                          </pagination-controls>

                        </div>
                      </div>
                    </div><!-- /.card-body -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h5>สถานการณ์ทั่วโลก <small><code>(https://covid19api.com/)</code></small></h5>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-plus"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">รายใหม่</span>
                  <span class="info-box-number">
                    {{allGlobal.NewConfirmed | number}}
                    <small>ราย</small>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-maroon elevation-1"><i class="fa fa-disease"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">ผู้ป่วยสะสม</span>
                  <span class="info-box-number">
                    {{allGlobal.TotalConfirmed | number}}
                    <small>ราย</small>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-book-dead"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">เสียชีวิต</span>
                  <span class="info-box-number">
                    {{allGlobal.TotalDeaths | number}}
                    <small>ราย</small>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-success elevation-1"><i class="fa fa-smile"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">รักษาหาย</span>
                  <span class="info-box-number">
                    {{allGlobal.TotalRecovered | number}}
                    <small>ราย</small>
                  </span>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">สถิติผู้ป่วยทั่วโลก</div>
                </div>
                <div class="card-body">
                  <canvas style="height: 605px;" baseChart [datasets]="wbarChartData" [labels]="wbarChartLabels"
                    [options]="wbarChartOptions" [legend]="wbarChartLegend" [chartType]="wbarChartType">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </div>
    </div>
    <aside class="control-sidebar control-sidebar-dark">
      <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
      </div>
    </aside>

    <footer class="main-footer">
      <div class="float-right d-none d-sm-inline">
        ที่มา: <a href="https://covid19.ddc.moph.go.th/th/api">https://covid19.ddc.moph.go.th/th/api</a>
      </div>
      <strong>Copyright &copy; 2020 by <a href="mailto:rianpit@gmail.com">Satit Rianpit</a>, Theme by <a
          href="https://adminlte.io">AdminLTE.io</a>.</strong>
    </footer>
  </div>

</body>

<ngx-loading [show]="loading"></ngx-loading>

<app-modal-patient #mdlPatient></app-modal-patient>
